.nebula-exportIn {
  &-line {
    display: table;
    width: 100%;
    padding-bottom: 20px;
    &-btn {
      float: left;
      width: 10%;
      .ant-btn-circle {
        border-radius: 50%;
        width: 32px;
        padding: 0;
      }
    }
    &-text {
      float: left;
      width: 70%;
    }
    &-download {
      float: right;
      width: 20%;
      text-align: right;
    }
  }
  &-upload {
    display: table;
    width: 100%;
    background-color: #eeeeee;
    padding: 20px 20px;
    &>div {
      float: left;
      margin-right: 10px;
    }
    .ant-upload-select-text {
      float: left;
    }
    .ant-upload-list-text {
      float: left;
    }
    .ant-upload-list-item {
      margin-top: 0;
    }
    &-btn {
      color: #33a7ff;
      cursor: pointer;
    }
  }
}