{
	"presets": [
		"@babel/preset-typescript",
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
			  "useBuiltIns": "entry",
			  "corejs": 3,
			  "modules": false,
			  "targets": {
				"browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
			  }
			}
		]
	],
	"plugins": [
		["@babel/plugin-transform-runtime"],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		["syntax-dynamic-import"],
		["module-resolver",{
			"extensions":[".tsx", ".ts", ".js", ".json", ".less"],
			"root": ["./src"],
			"alias": {
			  "@":  "./src"
			}
		  }
	  ]
	]
}
